
    /* CSS for rarity-labeled divs */
    #commonBox,
    #uncommonBox,
    #rareBox,
    #epicBox {
        overflow: auto;
        /* Adjust the height to accommodate the content */
        height: 160px; 
    }

    .start {
        font-size: 24px;
    }
    
    /* Styles specific to index2.html */
    body.index2-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    
    .centered-content {
        text-align: center;
        width: 100%;
    }